@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #002349;
  --color-secondary: teal;
}
a.active {
  @apply text-secondary
    border-b 
rounded-none;
}

* {
  font-family: "Manrope", sans-serif;
}
@keyframes borderRun {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 360% center;
  }
}

.animate-borderRun {
  background-size: 300% 100%;
  animation: borderRun 9s linear infinite;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 9999px;
}

