@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: violet;
  --color-secondary: teal;
}
a.active {
  @apply text-purple-600
    border-b 
rounded-none;
}

* {
  font-family: "Manrope", sans-serif;
}
