@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: violet;
  --color-secondary: teal;
}
a.active {
  @apply text-purple-600
    border-b 
rounded-none;
}
